.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 10px;
}
.logo img{
    width: 70px;
}
.logo h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(30, 30, 161);
}
a{
    text-decoration: none;
}
.child a{
    border-bottom: 1px solid lightgray;
    margin-inline: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.heading{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    padding: 10px;
    color: dodgerblue;
}
.child a:hover{
    background-color: dodgerblue;
}
.child a:hover .heading{
    color: white;
    text-shadow: 2px 2px 5px black;
}
@media only screen and (max-width:600px){
    .child{
        width: 100%;
        margin-inline: 1%;
    }
    .heading{
        font-size: 15px;
    }
    .chapter{
        background-color: transparent;
        color: chocolate;
        text-decoration: underline;
    }
}